<div ng-controller="carDetailsController">

  <sk-navbar></sk-navbar>

  <div class="container">

    <div class="row">

      <!-- slideshow start -->
      <!-- ================ -->
      <div class="banner">
        <div class="slideshow">
          <div class="slider-banner-container">
            <div class="slider-banner">
              <ul>
                <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on"
                    ng-repeat="slide in slides"
                    data-title="Buy a car">

                  <!-- main image -->
                  <img ng-src="{{slide.image}}"  alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                  <div class="tp-caption default_bg large sfr tp-resizeme" data-x="0" data-y="70" data-speed="600"
                       data-start="1200" data-end="9400" data-endspeed="600">
                    {{slide.brand}}
                  </div>

                  <div class="tp-caption dark_gray_bg sfl medium tp-resizeme" data-x="0" data-y="170" data-speed="600"
                       data-start="1600" data-end="9400" data-endspeed="600"><i class="icon-check"></i>
                  </div>
                  <div class="tp-caption light_gray_bg sfb medium tp-resizeme" data-x="50" data-y="170" data-speed="600"
                       data-start="1600" data-end="9400" data-endspeed="600">{{slide.text1}}
                  </div>
                  <div class="tp-caption dark_gray_bg sfl medium tp-resizeme" data-x="0" data-y="220" data-speed="600"
                       data-start="1800" data-end="9400" data-endspeed="600"><i class="icon-check"></i>
                  </div>
                  <div class="tp-caption light_gray_bg sfb medium tp-resizeme" data-x="50" data-y="220" data-speed="600"
                       data-start="1800" data-end="9400" data-endspeed="600">{{slide.text2}}
                  </div>
                  <div class="tp-caption dark_gray_bg sfl medium tp-resizeme" data-x="0" data-y="270" data-speed="600"
                       data-start="2000" data-end="9400" data-endspeed="600"><i class="icon-check"></i>
                  </div>
                  <div class="tp-caption light_gray_bg sfb medium tp-resizeme" data-x="50" data-y="270" data-speed="600"
                       data-start="2000" data-end="9400" data-endspeed="600">{{slide.text3}}
                  </div>
                </li>
              </ul>
              <div class="tp-bannertimer tp-bottom"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- ================ -->
      <!-- slideshow end -->

      <br/>

      <!-- LEFT COLUMN -->
      <div class="col col-md-7">
        <block header="'Overview'">
          <br/>
          <icon-block icon="'/images/group-114.png'" text="car.mileage"></icon-block>
          <icon-block icon="'/images/group-115.png'" text="car.transmission"></icon-block>
          <icon-block icon="'/images/group-116.png'" text="car.engine"></icon-block>
          <icon-block icon="'/images/group-117.png'" text="car.drive"></icon-block>
          <icon-block icon="'/images/group-119.png'" text="car.doors + ' doors ' + car.seats + ' seats'"></icon-block>
          <icon-block icon="'/images/group-120.png'" text="car.color"></icon-block>
          <!--<icon-block icon="'/images/group-121.png'" text="'Black'"></icon-block>-->
        </block>

        <block header="'What\'s this model about?'">
          {{car.descriptionBrand}}
        </block>

        <block header="'We have it in excellent condition'">
          {{car.descriptionBrand}}
        </block>

        <block header="'Nice features'">
          <div class="col col-md-4" style="padding: 5px 0;">
            <img src="/images/ok.png" width="24" class="sk-details__icon-list-image"/>
            Steering Wheel Controls
          </div>
          <div class="col col-md-4" style="padding: 5px 0;">
            <img src="/images/ok.png" width="24" class="sk-details__icon-list-image"/>
            Paddle Shifters
          </div>
          <div class="col col-md-4" style="padding: 5px 0;">
            <img src="/images/ok.png" width="24" class="sk-details__icon-list-image"/>
            Premium Lights
          </div>
          <div class="col col-md-4" style="padding: 5px 0;">
            <img src="/images/ok.png" width="24" class="sk-details__icon-list-image"/>
            Turbocharger
          </div>
          <div class="col col-md-4" style="padding: 5px 0;">
            <img src="/images/ok.png" width="24" class="sk-details__icon-list-image"/>
            Parking Sensors
          </div>
        </block>

        <block header="'Car History'">
          <div class="col col-md-4" style="padding: 5px 0;">
            <img src="/images/diploma_1.png" width="24" class="sk-details__icon-list-image"/>
            No Problems Found
          </div>
          <div class="col col-md-4" style="padding: 5px 0;">
            <label>VIN code: </label> WVW7454WBVNVHD
          </div>
        </block>

        <block header="'Petrol Consumption'">
          <div class="col col-md-4" style="padding: 5px 0;">
            <img src="/images/gas_station@2x.png" class="sk-details__icon-list-image"/>
          </div>
          <div class="col col-md-4" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>City: </label></div>
              <div class="col col-md-6">7.5 l / 100 km</div>
            </div>
            <div class="row">
              <div class="col col-md-6"><label>Highway: </label></div>
              <div class="col col-md-6">6.5 l / 100 km</div>
            </div>
            <div class="row">
              <div class="col col-md-6"><label>Average: </label></div>
              <div class="col col-md-6">7.0 l / 100 km</div>
            </div>
          </div>
        </block>

        <block header="'Performance'">

          <!-- Left side -->
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Driver wheels: </label></div>
              <div class="col col-md-6">Rear</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Doors: </label></div>
              <div class="col col-md-6">{{car.doors}}</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Compression ratio</label></div>
              <div class="col col-md-6">10</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Compressor type</label></div>
              <div class="col col-md-6">Turbocharger</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Configuration</label></div>
              <div class="col col-md-6">Inline</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Cylinders</label></div>
              <div class="col col-md-6">4</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Displacement</label></div>
              <div class="col col-md-6">1997</div>
            </div>
          </div>

          <!-- Right side -->
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Fuel type: </label></div>
              <div class="col col-md-6">Premium unlead</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Horsepower</label></div>
              <div class="col col-md-6">{{car.horsepower}}</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Size</label></div>
              <div class="col col-md-6">2</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Torque</label></div>
              <div class="col col-md-6">255</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Total values</label></div>
              <div class="col col-md-6">16</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Power train</label></div>
              <div class="col col-md-6">Gas</div>
            </div>
          </div>
        </block>

        <block header="'Safety'">
          <div class="sk-details__stars-outer-container">
            <div class="sk-details__stars-inner-container">
              <img class="sk-details__star" src="/images/star@2x.png"/>
              <img class="sk-details__star" src="/images/star@2x.png"/>
              <img class="sk-details__star" src="/images/star@2x.png"/>
              <img class="sk-details__star" src="/images/star@2x.png"/>
              <img class="sk-details__star" src="/images/star@2x.png"/>

              <img class="sk-details__stars_euroncap" src="/images/image-4@2x.png"/>
            </div>
          </div>
        </block>

        <block header="'Our Certified Inspector\'s Report'">
          <div class="row">
            <div class="col col-md-4"><label class="sk-details__certified_developer">Mr. Happy</label></div>
            <div class="col col-md-3"><img src="/images/happy.png" width="130" alt="happy"></div>
            <div class="col col-md-5">
              <button class="btn btn-default sk-details__certified_have_a_question">Have a question?</button>
            </div>
          </div>

          <div class="row">
            <h4>Category 1</h4>
            <div class="row">
              <div class="col col-md-6" style="padding: 5px 0;">
                <img src="/images/ok.png" width="24" class="sk-details__icon-list-image"/>
                Automatic transmission flawless in cold temperature
              </div>
              <div class="col col-md-6" style="padding: 5px 0;">
                <img src="/images/ok.png" width="24" class="sk-details__icon-list-image"/>
                Steering wheel centered
              </div>
            </div>

            <div class="row">
              <div class="col col-md-6" style="padding: 5px 0;">
                <img src="/images/ok.png" width="24" class="sk-details__icon-list-image"/>
                Steering wheel centered
              </div>
              <div class="col col-md-6" style="padding: 5px 0;">
                <img src="/images/cancel.png" width="24" class="sk-details__icon-list-image"/>
                Automatic transmission flawless in cold temperature
              </div>
            </div>

            <div class="row">
              <div class="col col-md-6" style="padding: 5px 0;">
                <img src="/images/ok.png" width="24" class="sk-details__icon-list-image"/>
                Automatic transmission flawless in cold temperature
              </div>
              <div class="col col-md-6" style="padding: 5px 0;">
                <img src="/images/ok.png" width="24" class="sk-details__icon-list-image"/>
                Steering wheel centered
              </div>
            </div>

            <div class="row">
              <div class="col col-md-11">
                <button class="btn btn-white pull-right">Show all</button>
              </div>
            </div>

          </div>

          <div class="row">
            <h4>Category 1</h4>
            <div class="row">
              <div class="col col-md-6" style="padding: 5px 0;">
                <img src="/images/ok.png" width="24" class="sk-details__icon-list-image"/>
                Automatic transmission flawless in cold temperature
              </div>
              <div class="col col-md-6" style="padding: 5px 0;">
                <img src="/images/ok.png" width="24" class="sk-details__icon-list-image"/>
                Steering wheel centered
              </div>
            </div>

            <div class="row">
              <div class="col col-md-6" style="padding: 5px 0;">
                <img src="/images/ok.png" width="24" class="sk-details__icon-list-image"/>
                Steering wheel centered
              </div>
              <div class="col col-md-6" style="padding: 5px 0;">
                <img src="/images/cancel.png" width="24" class="sk-details__icon-list-image"/>
                Automatic transmission flawless in cold temperature
              </div>
            </div>

            <div class="row">
              <div class="col col-md-6" style="padding: 5px 0;">
                <img src="/images/cancel.png" width="24" class="sk-details__icon-list-image"/>
                Automatic transmission flawless in cold temperature
              </div>
              <div class="col col-md-6" style="padding: 5px 0;">
                <img src="/images/ok.png" width="24" class="sk-details__icon-list-image"/>
                Steering wheel centered
              </div>
            </div>

            <div class="row">
              <div class="col col-md-11">
                <button class="btn btn-white pull-right">Show all</button>
              </div>
            </div>

          </div>
        </block>

        <block header="'Skynda Care'">
          <div class="row">
            <div class="col col-md-4" style="text-align: center">
              <img class="sk-details__icon" src="/images/group-124.png"/>
              <h5>Vehicle Protection</h5>
              <section>Award-winning repair coverage</section>
            </div>
            <div class="col col-md-4" style="text-align: center">
              <img class="sk-details__icon" src="/images/group-125.png"/>
              <h5>Vehicle Protection</h5>
              <section>Award-winning repair coverage</section>
            </div>
            <div class="col col-md-4" style="text-align: center">
              <img class="sk-details__icon" src="/images/group-126.png"/>
              <h5>Vehicle Protection</h5>
              <section>Award-winning repair coverage</section>
            </div>
            <div class="col col-md-4" style="text-align: center">
              <img class="sk-details__icon" src="/images/group-127.png"/>
              <h5>Vehicle Protection</h5>
              <section>Award-winning repair coverage</section>
            </div>
            <div class="col col-md-4" style="text-align: center">
              <img class="sk-details__icon" src="/images/group-128.png"/>
              <h5>Vehicle Protection</h5>
              <section>Award-winning repair coverage</section>
            </div>
            <div class="col col-md-4" style="text-align: center">
              <img class="sk-details__icon" src="/images/group-129.png"/>
              <h5>Vehicle Protection</h5>
              <section>Award-winning repair coverage</section>
            </div>
          </div>
        </block>

        <block header="'Reviews'">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col col-md-6">
                  <label style="font-size: 28px; font-weight: bolder; color: orangered">WHATCAR?</label>
                </div>
                <div class="col col-md-6">
                  <div style="float: right">
                    <img class="sk-details__star" src="/images/star.png"/>
                    <img class="sk-details__star" src="/images/star.png"/>
                    <img class="sk-details__star" src="/images/star.png"/>
                    <img class="sk-details__star" src="/images/star.png"/>
                    <img class="sk-details__star" src="/images/star-1.png"/>
                  </div>
                </div>
              </div>
              <br/>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s <br>
              <br/>
              <button style="margin: -15px; border-radius: 5px 0 0 0;" class="btn btn-white btn-sm pull-right">Read
                More
              </button>
            </div>
          </div>
        </block>

        <block header="'Other cars that you might like'">
          <cars-grid cars="similarcars"></cars-grid>
        </block>

      </div>

      <div class="col col-md-5">
        <checkout ng-if="car" car="car"></checkout>
      </div>
    </div>


  </div>


</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
