<div ng-controller="carDetailsController">

  <div class="container">
    <div class="row">
      <img src="https://i.gyazo.com/7d20242aa948bfc4e20fbb7063907ca5.png" alt="" style="width: 100%">
    </div>

    <div class="row">

      <!-- LEFT COLUMN -->
      <div class="col col-md-7">
        <br />

        <block header="'Overview'">
          <br />
          <icon-block icon="'/images/group-114.png'" text="car.mileage"></icon-block>
          <icon-block icon="'/images/group-115.png'" text="car.transmission"></icon-block>
          <icon-block icon="'/images/group-116.png'" text="car.engine"></icon-block>
          <icon-block icon="'/images/group-117.png'" text="car.drive"></icon-block>
          <icon-block icon="'/images/group-119.png'" text="car.doors + ' doors ' + car.seats + ' seats'"></icon-block>
          <icon-block icon="'/images/group-120.png'" text="car.color"></icon-block>
          <!--<icon-block icon="'/images/group-121.png'" text="'Black'"></icon-block>-->
        </block>

        <block header="'What\'s this model about?'">
          {{block1.description}}
        </block>

        <block header="'We have it in excellent condition'">
          {{block2.description}}
        </block>

        <block header="'Nice features'">
          <div class="col col-md-4" style="padding: 5px 0;">
            <img src="/images/ok.png" width="24" class="sk-details__icon-list-image" />
            Steering Wheel Controls
          </div>
          <div class="col col-md-4" style="padding: 5px 0;">
            <img src="/images/ok.png" width="24" class="sk-details__icon-list-image" />
            Paddle Shifters
          </div>
          <div class="col col-md-4" style="padding: 5px 0;">
            <img src="/images/ok.png" width="24" class="sk-details__icon-list-image" />
            Premium Lights
          </div>
          <div class="col col-md-4" style="padding: 5px 0;">
            <img src="/images/ok.png" width="24" class="sk-details__icon-list-image" />
            Turbocharger
          </div>
          <div class="col col-md-4" style="padding: 5px 0;">
            <img src="/images/ok.png" width="24" class="sk-details__icon-list-image" />
            Parking Sensors
          </div>
        </block>

        <block header="'Car History'">
          <div class="col col-md-4" style="padding: 5px 0;">
            <img src="/images/diploma_1.png" width="24" class="sk-details__icon-list-image" />
            No Problems Found
          </div>
          <div class="col col-md-4" style="padding: 5px 0;">
            <label>VIN code: </label> WVW7454WBVNVHD
          </div>
        </block>

        <block header="'Petrol Consumption'">
          <div class="col col-md-4" style="padding: 5px 0;">
            <img src="/images/gas_station@2x.png" class="sk-details__icon-list-image" />
          </div>
          <div class="col col-md-4" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>City: </label></div>
              <div class="col col-md-6">7.5 l / 100 km</div>
            </div>
            <div class="row">
              <div class="col col-md-6"><label>Highway: </label></div>
              <div class="col col-md-6">6.5 l / 100 km</div>
            </div>
            <div class="row">
              <div class="col col-md-6"><label>Average: </label></div>
              <div class="col col-md-6">7.0 l / 100 km</div>
            </div>
          </div>
        </block>

        <block header="'Performance'">

          <!-- Left side -->
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Driver wheels: </label></div>
              <div class="col col-md-6">Rear</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Doors: </label></div>
              <div class="col col-md-6">{{car.doors}}</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Compression ratio</label></div>
              <div class="col col-md-6">10</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Compressor type</label></div>
              <div class="col col-md-6">Turbocharger</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Configuration</label></div>
              <div class="col col-md-6">Inline</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Cylinders</label></div>
              <div class="col col-md-6">4</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Displacement</label></div>
              <div class="col col-md-6">1997</div>
            </div>
          </div>

          <!-- Right side -->
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Fuel type: </label></div>
              <div class="col col-md-6">Premium unlead</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Horsepower</label></div>
              <div class="col col-md-6">{{car.horsepower}}</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Size</label></div>
              <div class="col col-md-6">2</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Torque</label></div>
              <div class="col col-md-6">255</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Total values</label></div>
              <div class="col col-md-6">16</div>
            </div>
          </div>
          <div class="col col-md-6" style="padding: 5px 0;">
            <div class="row">
              <div class="col col-md-6"><label>Power train</label></div>
              <div class="col col-md-6">Gas</div>
            </div>
          </div>
        </block>

        <block header="'Safety'">
          <div class="sk-details__stars-outer-container">
            <div class="sk-details__stars-inner-container">
              <img class="sk-details__star" src="/images/star@2x.png" />
              <img class="sk-details__star" src="/images/star@2x.png" />
              <img class="sk-details__star" src="/images/star@2x.png" />
              <img class="sk-details__star" src="/images/star@2x.png" />
              <img class="sk-details__star" src="/images/star@2x.png" />

              <img class="sk-details__stars_euroncap" src="/images/image-4@2x.png" />
            </div>
          </div>
        </block>

        <block header="'Our Certified Inspector\'s Report'">
          <div class="row">
            <div class="col col-md-4"><label class="sk-details__certified_developer">Mr. Happy</label></div>
            <div class="col col-md-3"><img src="/images/happy.png" width="130" alt="happy"></div>
            <div class="col col-md-5">
              <button class="btn btn-default sk-details__certified_have_a_question">Have a question?</button>
            </div>
          </div>

          <div class="row">
            <h4>Category 1</h4>
            <div class="row">
              <div class="col col-md-6" style="padding: 5px 0;">
                <img src="/images/ok.png" width="24" class="sk-details__icon-list-image" />
                Automatic transmission flawless in cold temperature
              </div>
              <div class="col col-md-6" style="padding: 5px 0;">
                <img src="/images/ok.png" width="24" class="sk-details__icon-list-image" />
                Steering wheel centered
              </div>
            </div>

            <div class="row">
              <div class="col col-md-6" style="padding: 5px 0;">
                <img src="/images/ok.png" width="24" class="sk-details__icon-list-image" />
                Steering wheel centered
              </div>
              <div class="col col-md-6" style="padding: 5px 0;">
                <img src="/images/cancel.png" width="24" class="sk-details__icon-list-image" />
                Automatic transmission flawless in cold temperature
              </div>
            </div>

            <div class="row">
              <div class="col col-md-6" style="padding: 5px 0;">
                <img src="/images/ok.png" width="24" class="sk-details__icon-list-image" />
                Automatic transmission flawless in cold temperature
              </div>
              <div class="col col-md-6" style="padding: 5px 0;">
                <img src="/images/ok.png" width="24" class="sk-details__icon-list-image" />
                Steering wheel centered
              </div>
            </div>

            <div class="row">
              <div class="col col-md-11">
                <button class="btn btn-white pull-right">Show all</button>
              </div>
            </div>

          </div>

          <div class="row">
            <h4>Category 1</h4>
            <div class="row">
              <div class="col col-md-6" style="padding: 5px 0;">
                <img src="/images/ok.png" width="24" class="sk-details__icon-list-image" />
                Automatic transmission flawless in cold temperature
              </div>
              <div class="col col-md-6" style="padding: 5px 0;">
                <img src="/images/ok.png" width="24" class="sk-details__icon-list-image" />
                Steering wheel centered
              </div>
            </div>

            <div class="row">
              <div class="col col-md-6" style="padding: 5px 0;">
                <img src="/images/ok.png" width="24" class="sk-details__icon-list-image" />
                Steering wheel centered
              </div>
              <div class="col col-md-6" style="padding: 5px 0;">
                <img src="/images/cancel.png" width="24" class="sk-details__icon-list-image" />
                Automatic transmission flawless in cold temperature
              </div>
            </div>

            <div class="row">
              <div class="col col-md-6" style="padding: 5px 0;">
                <img src="/images/cancel.png" width="24" class="sk-details__icon-list-image" />
                Automatic transmission flawless in cold temperature
              </div>
              <div class="col col-md-6" style="padding: 5px 0;">
                <img src="/images/ok.png" width="24" class="sk-details__icon-list-image" />
                Steering wheel centered
              </div>
            </div>

            <div class="row">
              <div class="col col-md-11">
                <button class="btn btn-white pull-right">Show all</button>
              </div>
            </div>

          </div>
        </block>

        <block header="'Skynda Care'">
          <div class="row">
            <div class="col col-md-4" style="text-align: center">
              <img class="sk-details__icon" src="/images/group-124.png" />
              <h5>Vehicle Protection</h5>
              <section>Award-winning repair coverage</section>
            </div>
            <div class="col col-md-4" style="text-align: center">
              <img class="sk-details__icon" src="/images/group-125.png" />
              <h5>Vehicle Protection</h5>
              <section>Award-winning repair coverage</section>
            </div>
            <div class="col col-md-4" style="text-align: center">
              <img class="sk-details__icon" src="/images/group-126.png" />
              <h5>Vehicle Protection</h5>
              <section>Award-winning repair coverage</section>
            </div>
            <div class="col col-md-4" style="text-align: center">
              <img class="sk-details__icon" src="/images/group-127.png" />
              <h5>Vehicle Protection</h5>
              <section>Award-winning repair coverage</section>
            </div>
            <div class="col col-md-4" style="text-align: center">
              <img class="sk-details__icon" src="/images/group-128.png" />
              <h5>Vehicle Protection</h5>
              <section>Award-winning repair coverage</section>
            </div>
            <div class="col col-md-4" style="text-align: center">
              <img class="sk-details__icon" src="/images/group-129.png" />
              <h5>Vehicle Protection</h5>
              <section>Award-winning repair coverage</section>
            </div>
          </div>
        </block>

        <block header="'Reviews'">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col col-md-6">
                  <label style="font-size: 28px; font-weight: bolder; color: orangered">WHATCAR?</label>
                </div>
                <div class="col col-md-6">
                  <div style="float: right">
                    <img class="sk-details__star" src="/images/star.png" />
                    <img class="sk-details__star" src="/images/star.png" />
                    <img class="sk-details__star" src="/images/star.png" />
                    <img class="sk-details__star" src="/images/star.png" />
                    <img class="sk-details__star" src="/images/star-1.png" />
                  </div>
                </div>
              </div>
              <br />
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s              <br>
              <br />
              <button style="margin: -15px; border-radius: 5px 0 0 0;" class="btn btn-white btn-sm pull-right">Read More</button>
            </div>
          </div>
        </block>

        <block header="'Other cars that you might like'">
          <!-- TODO: Other cars that you might like -->
        </block>

        <block header="block10.header">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

            Why do we use it?
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


            Where does it come from?
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
        </block>

      </div>

      <!-- RIGHT COLUMN -->
      <div class="col col-md-5">

        <checkout></checkout>

       </div>
    </div>
    </div>
</div>
