<div ng-controller="homepageController">

  <sk-navbar></sk-navbar>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron sk-hero">
    <img class="sk-hero__image" src="images/hero-01-2.jpg" alt="image">
    <div class="sk-hero__text clerfix">
      <div class="container">
        <div class="grid">
          <div class="col-md-9">
            <h2>Buying a pre-used car has never been so fun, easy and secure</h2>
          </div>
          <div class="col-md-3">
            <a class="btn btn-primary " href="#" role="button">Read More</a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <keypoint
          title="Certified Inspections"
          content="All our cars have been certified by our inspectors. Every car comes with a detailed report."
          img="ok@2x.png">
        </keypoint>
      </div>
      <div class="col-md-4">
        <keypoint
          title="Fast Delivery"
          content="We deliver your car in 3 days to which every location you choose."
          img="clock@2x.png">
        </keypoint>
      </div>
      <div class="col-md-4">
        <keypoint
          title="7 Day Returns"
          content="If you do not find the car suitable you can return in 7 days, no questions asked."
          img="happy@2x.png">
        </keypoint>
      </div>
    </div>

    <div class="row">
      <div class="col-sx-12">
        <h2 class="blue-header text-center">Search</h2>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="input-group sk-search">
            <input type="text" class="form-control" ng-model="searchTerm" placeholder="Enter a Car Name"/>
            <span class="input-group-btn">
             <button class="btn input-group-btn  btn-primary" ng-click="getCarByModelOrBrand(searchTerm)" type="button">
               Go!
              </button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
    </div>

    <hr />

    <div class="row">
      <div class="col-sx-12">
        <h2 class="blue-header text-center">Popular</h2>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4"><img class="sk-car-placeholder" src="https://placehold.it/328x118" alt="image"></div>
            <div class="col-md-4"><img class="sk-car-placeholder" src="https://placehold.it/328x118" alt="image"></div>
            <div class="col-md-4"><img class="sk-car-placeholder" src="https://placehold.it/328x118" alt="image"></div>
            <div class="col-md-4"><img class="sk-car-placeholder" src="https://placehold.it/328x118" alt="image"></div>
            <div class="col-md-4"><img class="sk-car-placeholder" src="https://placehold.it/328x118" alt="image"></div>
            <div class="col-md-4"><img class="sk-car-placeholder" src="https://placehold.it/328x118" alt="image"></div>
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div>

      <hr />
      <br />

      <div class="row">
        <div class="col-sx-12">
          <h2 class="blue-header text-center">Recently Added</h2>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="row">

              <div class="col-md-4" style="margin-bottom: 10px;" ng-repeat="car in cars.recent">
                <info-image
                  src="car.img"
                  href="'/car-details/' + car.id">
                  <h2 class="sk-home__popular-image-title">{{car.brand}}</h2>
                </info-image>
              </div>
            </div>
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div>


      <hr>

      <footer>
        <p class="text-center">Skynda AS Valge 16, Tallinn 19095 Estonia <a href="mailto:hello@skynda.me">mailto:hello@skynda.me</a></p>
        <div class="fb-like" data-href="https://www.facebook.com/Skynda-1197076750314307/?fref=ts" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
      </footer>
    </div> <!-- /container -->
  </div>
</div>
