<nav class="sk-navbar navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="sk-logo navbar-brand" ng-href="/">
        <img class="pull-left" src="images/skynda logo 4-mask-4@2x.png">
        <img class="" src="images/SKYNDA@2x.png">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">
        <li class="sk-menu--sell"><a href="#" class="orange-header">Sell Your Car</a></li>
        <li class="sk-menu--buy"><a href="#" class="blue-header">Buy Your Car</a></li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>
